# Temporary files and dependencies

/vendor/
/vendor-bin/*/vendor
/node_modules
/documentation/
/manual/
/tests/coverage/
/dist/arch/arsse
/dist/arch/src
/dist/arch/pkg
/arsse.db*
/config.php
/.php_cs.cache
/yarn-error.log
/tests/.phpunit.result.cache


# Windows files

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# macOS files

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes


# archives

*.zip
*.7z
*.tar.gz
*.tar.xz
*.tgz
*.deb
*.rpm
*.dmg
*.cab
*.msi
*.msm
*.msp
