* text=auto encoding=utf-8

*.html     diff=html
*.php      diff=php
*.bat      eol=crlf
.gitignore -eol


tests/         export-ignore
.*             export-ignore
build.xml      export-ignore
composer.*     export-ignore
phpdoc.*       export-ignore
