# Temporary files and dependencies

/vendor/
/vendor-bin/*/vendor
/documentation/
/tests/coverage/
/arsse.db*
/config.php
/.php_cs.cache


# Windows files

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# macOS files

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


# archives

*.zip
*.7z
*.tar.gz
*.tgz
*.deb
*.rpm
*.dmg
*.cab
*.msi
*.msm
*.msp
