<?xml version="1.0"?>
<phpunit
    colors="true"
    bootstrap="bootstrap.php"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    stopOnError="true">

<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">../lib</directory>
  </whitelist>
</filter>

<testsuites>
    <testsuite name="Exceptions">
        <file>cases/Exception/TestException.php</file>
    </testsuite>
    <testsuite name="Localization">
        <file>cases/Lang/TestBasic.php</file>
        <file>cases/Lang/TestComplex.php</file>
        <file>cases/Lang/TestErrors.php</file>
    </testsuite>
    <testsuite name="Configuration">
        <file>cases/Conf/TestConf.php</file>
    </testsuite>
    <testsuite name="Sundry">
        <file>cases/Misc/TestValueInfo.php</file>
        <file>cases/Misc/TestDate.php</file>
        <file>cases/Misc/TestContext.php</file>
    </testsuite>
    <testsuite name="User management">
        <file>cases/User/TestInternal.php</file>
        <file>cases/User/TestUser.php</file>
    </testsuite>
    <testsuite name="Feed parser">
        <file>cases/Feed/TestFetching.php</file>
        <file>cases/Feed/TestFeed.php</file>
    </testsuite>
    <testsuite name="Database drivers">
        <file>cases/Db/TestTransaction.php</file>
        <file>cases/Db/TestResultAggregate.php</file>
        <file>cases/Db/TestResultEmpty.php</file>
        <file>cases/Db/SQLite3/TestResult.php</file>
        <file>cases/Db/SQLite3/TestStatement.php</file>
        <file>cases/Db/SQLite3/TestCreation.php</file>
        <file>cases/Db/SQLite3/TestDriver.php</file>
        <file>cases/Db/SQLite3/TestUpdate.php</file>

        <file>cases/Db/SQLite3PDO/TestResult.php</file>
        <file>cases/Db/SQLite3PDO/TestStatement.php</file>
        <file>cases/Db/SQLite3PDO/TestCreation.php</file>
        <file>cases/Db/SQLite3PDO/TestDriver.php</file>
        <file>cases/Db/SQLite3PDO/TestUpdate.php</file>
    </testsuite>
    <testsuite name="Database functions">
        <file>cases/Db/SQLite3/Database/TestMiscellany.php</file>
        <file>cases/Db/SQLite3/Database/TestMeta.php</file>
        <file>cases/Db/SQLite3/Database/TestUser.php</file>
        <file>cases/Db/SQLite3/Database/TestSession.php</file>
        <file>cases/Db/SQLite3/Database/TestFolder.php</file>
        <file>cases/Db/SQLite3/Database/TestFeed.php</file>
        <file>cases/Db/SQLite3/Database/TestSubscription.php</file>
        <file>cases/Db/SQLite3/Database/TestArticle.php</file>
        <file>cases/Db/SQLite3/Database/TestLabel.php</file>
        <file>cases/Db/SQLite3/Database/TestCleanup.php</file>

        <file>cases/Db/SQLite3PDO/Database/TestMiscellany.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestMeta.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestUser.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestSession.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestFolder.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestFeed.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestSubscription.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestArticle.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestLabel.php</file>
        <file>cases/Db/SQLite3PDO/Database/TestCleanup.php</file>
    </testsuite>
    <testsuite name="REST">
        <file>cases/REST/TestTarget.php</file>
        <file>cases/REST/TestREST.php</file>
    </testsuite>
    <testsuite name="NCNv1">
        <file>cases/REST/NextCloudNews/TestVersions.php</file>
        <file>cases/REST/NextCloudNews/TestV1_2.php</file>
            <file>cases/REST/NextCloudNews/PDO/TestV1_2.php</file>
    </testsuite>
    <testsuite name="TTRSS">
        <file>cases/REST/TinyTinyRSS/TestAPI.php</file>
        <file>cases/REST/TinyTinyRSS/TestIcon.php</file>
        <file>cases/REST/TinyTinyRSS/PDO/TestAPI.php</file>
    </testsuite>
    <testsuite name="Refresh service">
        <file>cases/Service/TestService.php</file>
    </testsuite>
</testsuites>
</phpunit>
