<?xml version="1.0"?>
<phpunit
    colors="true"
    bootstrap="../bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    stopOnError="true">

<testsuites>
    <testsuite name="Exceptions">
        <file>Exception/TestException.php</file>
    </testsuite>
    <testsuite name="Localization">
        <file>Lang/TestLang.php</file>
        <file>Lang/TestLangComplex.php</file>
        <file>Lang/TestLangErrors.php</file>
    </testsuite>
    <testsuite name="Configuration">
        <file>Conf/TestConf.php</file>
    </testsuite>
    <testsuite name="User management">
        <file>User/TestUserMockInternal.php</file>
        <file>User/TestUserMockExternal.php</file>
        <file>User/TestUserInternalDriver.php</file>
        <file>User/TestAuthorization.php</file>
    </testsuite>
    <testsuite name="Feed parser">
        <file>Feed/TestFeedFetching.php</file>
        <file>Feed/TestFeed.php</file>
    </testsuite>
    <testsuite name="Sundry">
        <file>Misc/TestContext.php</file>
    </testsuite>
    <testsuite name="Database drivers">
        <file>Db/SQLite3/TestDbResultSQLite3.php</file>
        <file>Db/SQLite3/TestDbStatementSQLite3.php</file>
        <file>Db/SQLite3/TestDbDriverSQLite3.php</file>
        <file>Db/SQLite3/TestDbUpdateSQLite3.php</file>
    </testsuite>
    <testsuite name="Database functions">
        <file>Db/SQLite3/Database/TestDatabaseUserSQLite3.php</file>
        <file>Db/SQLite3/Database/TestDatabaseFolderSQLite3.php</file>
        <file>Db/SQLite3/Database/TestDatabaseFeedSQLite3.php</file>
        <file>Db/SQLite3/Database/TestDatabaseSubscriptionSQLite3.php</file>
    </testsuite>
    <testsuite name="NextCloud News API">
        <file>REST/NextCloudNews/TestNCNVersionDiscovery.php</file>
        <file>REST/NextCloudNews/TestNCNV1_2.php</file>
    </testsuite>
</testsuites>
</phpunit>