<?xml version="1.0"?>
<phpunit
    colors="true"
    bootstrap="../bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    stopOnError="true">

<testsuite name="Localization and exceptions">
    <file>Lang/TestLang.php</file>
    <file>Lang/TestLangComplex.php</file>
    <file>Lang/TestException.php</file>
    <file>Lang/TestLangErrors.php</file>
</testsuite>

<testsuite name="Configuration loading and saving">
    <file>Conf/TestConf.php</file>
</testsuite>

<testsuite name="User management">
    <file>User/TestUser.php</file>
    <file>User/TestUserExternal.php</file>
</testsuite>

</phpunit>